:root {
  --white: #f9f9f9;
  --primary-color: #0063e5;
  --grey: rgb(192, 192, 192);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #040714;
  color: var(--white);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
}
h1,
h2,
h3 {
  color: var(--white);
  margin-bottom: 16px;
}

h1 {
  font-weight: 700px;
  font-size: 44px;
  margin-right: 20px;
  margin-bottom: 24px;
  -webkit-margin-after: 30px;
  margin-block-end: 30px;
  line-height: 1.2;
}

h2 {
  font-size: 28px;
  font-weight: 400px;
  line-height: 38px;
  color: var(--white);
}

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 24px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 34px;
}

nav > .logo-nav {
  width: 110px;
  margin-right: auto;
}

.btn {
  padding: 16px 24px;
  color: var(--white);
  text-decoration: none;
  border-radius: 4px;
  border: solid 1px;
  margin: 5px;
}

.signup {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.signin {
  border-color: var(--white);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
header > div {
  max-width: 740px;
  padding: 60px;
}
.relabs {
  position: relative;
}

.relabs > div {
  position: absolute;
  top: -5%;
  left: 20px;
}

.relabs > img {
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-around;
  margin: 0 -12px;
}

.subscription {
  max-width: 600px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10vw 5vw;
}

.logo-header {
  max-width: 160px;
  display: block;
  width: 100%;
  height: auto;
}

.two-column > .grid-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.grid-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 12px;
}

.both-ends {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

p.small {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 16px;
  color: var(--grey);
}

.signup-2 {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  max-width: 360px;
  height: 60px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  margin: unset;
}

.inscription {
  padding: 22px 24px;
}

i span {
  font-size: 14.4px;
  line-height: 17.28px;
  color: var(--grey);
  font-style: normal;
}

.footnote {
  font-size: 12px;
  line-height: 20px;
  padding-top: 0px;
}

a span {
  font-size: 18px;
  font-weight: 400px;
  line-height: 18px;
  margin-top: 3px;
  text-align: center;
  width: 240px;
}
.center {
  text-align: center;
}
section {
  position: relative;
  box-sizing: content-box;
  background-position: 50%;
  padding: 10vw 5vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidealign {
  display: flex;
  align-items: center;
}

.sidealign .text-container {
  box-sizing: border-box;
  padding: 0 2vw;
}
::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a.primary {
  color: #f9f9f9;
  background: #0063e5;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease 0s;
  text-decoration: none;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 16.5px 24px;
}

.grid-item:last-child {
  margin-bottom: 0;
}
.grid-item.center {
  align-items: center;
}
.four-column .grid-item {
  flex: 0 0 25%;
  max-width: 25%;
}

footer {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo-footer {
  width: 80px;
  margin-left: 50%;
}

#language-selector {
  padding: 0 26px;
  margin: 8px auto;
  z-index: 1;
  border: none;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  color: #f9f9f9;
  text-align: center;
  text-align-last: center;
}

footer a.link.small,
footer button.link.small {
  color: silver;
  padding: 8px 12px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
}
a .link {
  cursor: pointer;
  background: 0 0;
  border: none;
  text-align: inherit;
  font-size: inherit;
  line-height: inherit;
}

.globe {
  width: 18px;
}
@media (max-width: 766px) {
  h1 {
    font-size: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    content: " ";
  }
  h3 {
    margin-bottom: 4px;
  }
  nav {
    padding: 0 12px 0 20px;
  }
  div .text-center .mobile-one-column {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .hero {
    padding-top: 67vw;
  }
  .mobile-one-column {
    max-width: 320px;
    margin: 0 auto;
  }
  .grid items {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  p.small {
    margin-bottom: 8px;
  }
}
